<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h3>{{ loginMode ? 'Login' : 'Sign Up' }}</h3>
    <!--<div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>-->
    <!--<app-alert [message]="error"
               *ngIf="error"
               (close)="onAlertClose()"></app-alert>-->
    <div *ngIf="loading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!loading">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email"
               id="email"
               name="email"
               class="form-control"
               ngModel
               required
               email>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               ngModel
               required
               minlength="6">
      </div>
      <div>
        <button class="btn btn-success"
                type="submit"
                [disabled]="!authForm.valid">{{ loginMode ? 'Login' : 'Sign Up' }}</button>
        |
        <button class="btn btn-default"
                type="button"
                (click)="onSwitchMode()">Switch to {{ !loginMode ? 'Login' : 'Sign Up' }}</button>
      </div>
    </form>
  </div>
</div>
